.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  background-color: #e2effa;
}

.body {
  background-color: #cce0f5;
}
.header {
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1000;
}
.a-el{
  color: #071030;
}
.a-el:hover{
  color: #5525c5;
}
.ul-elements {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(186, 232, 247);
}
.main-div {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  max-width: 100%;
}
.div-left {
  max-width: 540px;
  width: 100%;
  padding-top: 100px;
}
.h2 {
  font-size: 60px;
  color: rgb(4, 4, 55);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn {
  color: #cbf2ff;
  background-color: rgb(4, 4, 55);
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #040437;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  transition: linear 0.2s;
}
button:hover {
  background-color: #9bb7d3;
  color: #040437;
  border: 2px solid rgb(3, 3, 53);
}
.main_div2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  max-width: 100%;
}
.right-div2 {
  max-width: 500px;
  width: 100%;
  padding-top: 130px;
}
.h3 {
  font-size: 50px;
  color: #040437;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding-left: 10px;
}
.p {
  font-size: 20px;
  color: #4a8ecd;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding-top: 30px;
  padding-left: 10px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.btn2 {
  color: #cbf2ff;
  background-color: rgb(4, 4, 55);
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #040437;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  transition: linear 0.2s;
}

.h4 {
  text-align: center;
  font-size: 36px;
  color: #040437;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.register-form {
  max-width: 400px;
  margin: 0 auto 80px auto;
  background-color: #e7f2fb;
  padding: 30px 35px;
  border-radius: 20px;
}

.register-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #040437;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.register-input,
.register-select {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border: 1px solid #c9dff3;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #040437;
  background-color: #f7fbff;
}

.register-input::placeholder {
  color: #9bb7d3;
  font-size: 13px;
}

.register-submit {
  width: 100%;
  padding: 12px;
  background-color: #040437;
  color: #cbf2ff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition: linear 0.2s;
}
.register-submit:hover {
  background-color: #9bb7d3;
  color: #040437;
}
.h5 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #040437;
  text-align: center;
  margin: 20px;
}

.main-div3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}
.div3 {
  width: 350px;
  height: 450px;
  background-color: #e2effa;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 15px;
}
.h6 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #040437;
  text-align: center;
  padding-top: 15px;
}
.p-el {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  padding: 10px;
}
.price {
  font-size: 25px;
  color: #040437;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 20px 0px;
}
.i-el {
  background-color: #040437;
  width: 35px;
  height: 40px;
  color: #cedcff;
  border-radius: 75%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  transition: linear 0.2s;
}
.i-el:hover {
  background-color: #a5c8e7;
  color: #040437;
}
.hh {
  font-size: 40px;
  color: #dff7ff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn3 {
  color: #cbf2ff;
  background-color: rgb(4, 4, 55);
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #040437;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  transition: linear 0.2s;
}
.textt {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 20px;
}
.immg {
  margin: 20px 0px;
  position: relative;
  width: 100%;
}
.immg img {
  width: 100%;
  height: auto;
  display: block;
}
.section5{
  margin: 100px 0px;
}
.section6 {
  margin-top: 100px;
  background-color: rgb(224, 224, 224);
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-div {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 30px;
}

.ul-el2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.contact-info {
  width: 200px;
}
.desc {
  font-size: 25px;
  color: #090944;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.burger {
  display: none;
}
li a{
  color: #040437;
  transition: linear 0.2s;
}
li a:hover{
  color: #5525c5;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
  }
  .navigation img {
    max-width: 150px;
  }
  .burger {
    display: block;
  }
  .ul-elements {
    position: fixed;
    top: 80px;
    right: -100%;
    flex-direction: column;
    align-items: center;
    background-color: #e2effa;
    width: 70%;
    padding: 30px;
    gap: 30px;
  }

  .ul-elements.active {
    right: 0;
  }


  .main-div {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }
  .div-left {
    padding-top: 20px;
    text-align: center;
  }
  .h2 {
    font-size: 36px;
  }
  .btn {
    width: 100%;
    max-width: 250px;
  }
  .main_div2 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  .right-div2 {
    padding-top: 20px;
    text-align: center;
  }
  .h3 {
    font-size: 32px;
    padding-left: 0;
  }
  .p {
    font-size: 16px;
    padding-left: 0;
  }
  .btn2 {
    width: 100%;
    max-width: 250px;
  }
  .register-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 80px auto;
    background-color: #e7f2fb;
    padding: 30px 35px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  .h4 {
    font-size: 28px;
    padding: 0 20px;
  }
  .main-div3 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  .h5 {
    font-size: 28px;
    padding: 0 20px;
  }
  .div3 {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .textt {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    padding: 10px;
  }
  .hh {
    font-size: 24px;
  }
  .btn3 {
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 20px;
  }
  .footer-div {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }
  .quick-links,
  .contact-info {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .ul-el2,
  .info {
    align-items: center;
  }
  .desc {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .navigation {
    padding: 15px;
  }
  .navigation img {
    max-width: 120px;
  }
  .ul-elements {
    font-size: 16px;
    gap: 10px;
  }
  .h2 {
    font-size: 28px;
  }
  .btn,
  .btn2,
  .btn3 {
    font-size: 14px;
    padding: 8px 15px;
  }
  .h3 {
    font-size: 26px;
  }
  .p {
    font-size: 14px;
  }
  .h4 {
    font-size: 24px;
  }
  .h5 {
    font-size: 24px;
  }
  .h6 {
    font-size: 18px;
  }
  .p-el {
    font-size: 15px;
  }
  .price {
    font-size: 22px;
  }
  .hh {
    font-size: 20px;
    padding: 0 10px;
  }
  .register-form {
    margin: 0 15px 30px 15px;
    padding: 15px;

  }
  .desc {
    font-size: 20px;
  }
  .ul-el2,
  .info {
    font-size: 16px;
  }
  .textt {
    top: 50%;
  }
}
