.navigation{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    background-color:#d2e9ff

;
}
.header{
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 1000;
}
.ul-elements{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgb(186, 232, 247);
}
.main-div{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    max-width: 100%;
}
.div-left{
    max-width:540px ;
    width: 100%;
    padding-top: 100px;
}
.h2{
    font-size: 60px;
    color: rgb(4, 4, 55);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.btn{
    color: #cbf2ff;
    background-color: rgb(4, 4, 55);
    margin-top: 40px;
    padding: 10px;
    border: 2px solid #040437;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px;
}
.main_div2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    max-width: 100%;
}
.right-div2{
    max-width: 500px;
    width: 100%;
    padding-top: 130px;
}
.h3{
    font-size: 50px;
    color: #040437;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 10px;
}
.p{
    font-size: 20px;
    color: #4a8ecd;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-top: 30px;
    padding-left: 10px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.section{
    background-color: #eaf5ff;
}